<div class="content-container">
    <div class="error-code">{{error.code}}</div>
    <div class="error-text">{{error.text}}</div>
    {{{ Button label="Назад к чатам" className="redirect-button" onClick=onRedirect }}}
</div>
