@use './variables' as vars;

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.redirect-back {
    align-items: center;
    background-color: vars.$section-grey;
    display: flex;
    justify-content: center;
    width: 4rem;
}

.content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.profile {
    width: 40%;

    &__avatar {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        &-label {
            text-align: center;
        }

        &-input {
            cursor: pointer;
            position: relative;

            &::after {
                background: vars.$avatar-hover-grey;
                border-radius: 50%;
                color: vars.$white;
                content: 'Изменить аватар';
                height:100%;
                left:0;
                opacity: 0;
                transition: all 0.5s;
                position: absolute;
                top:0;
                width: 100%;

                // align content inside pseudo element
                display:flex;
                align-items: center;
                text-align: center;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }

        & input {
            display: none;
        }
    }

    &__details {
        margin-bottom: 2rem;
    }

    &__detail {
        border-bottom: 1px solid vars.$border-grey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        width: 100%;

        &:last-of-type {
            border-bottom: 0;
        }
        
        &-label {
            color: vars.$label-black;
            font-size: 0.75rem;
            font-weight: bold;
        }
    
        &-value {
            color: vars.$label-grey;
            font-size: 0.75rem;
        }
    
        &-input {
            border: 0;
            color: vars.$label-grey;
            font-size: 0.75rem;
            text-align: right;

            &::placeholder {
                color: vars.$label-grey;
            }
        }
    }

    &__action {
        border-bottom: 1px solid vars.$border-grey;
        padding: 10px 0;
        width: 100%;

        &:last-of-type {
            border-bottom: 0;
        }

        &-edit {
            background: none;
            border: none;
            color: vars.$base-blue;
            cursor: pointer;
            padding: 0;
        }

        &-exit {
            background: none;
            border: none;
            color: vars.$action-exit;
            cursor: pointer;
            padding: 0;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    %profile-button-default {
        border: none;
        cursor: pointer;
    }

    &__button {
        @extend %profile-button-default;

        &-confirm {
            @extend %profile-button-default;

            background-color: vars.$base-blue;
            border-radius: 8px;
            color: vars.$white;
            padding: 0.75rem;
            width: 60%;
        }
    }
}
