$action-exit: #FF0000;
$avatar-hover-grey: #00000070;
$base-blue: #3369F3;
$black: #000000;
$border-grey: #EAEAEA;
$error-red: #FF2F2F;
$form-shadow: #00000024;
$hover-blue: #E4EDFD;
$input-grey: #EFEFEF;
$label-black: #1E1E1E;
$label-grey: #999999;
$section-grey: #F8F8F8;
$white: #FFFFFF;
