<div class="side-bar">
    <div class="side-bar__header">
        <div class="side-bar__header-actions">
            <div class="side-bar__header-addChatAction">
            </div>
            <div>
                {{{ Button label="Profile >" className="action-button" onClick=onRedirectToProfile }}}
            </div>
        </div>
        <div class="side-bar__header-search">
            {{{ ChatSearch name="search" type="text"  
                placeholder="Search"
                onInput=onInput
                ref="search"
            }}}
        </div>
    </div>
    <div class="side-bar__content">
        {{{ ChatCardList chatList=chatList ref="chatCardList" }}}
    </div>
</div>
