<label class="input-field {{#if inputFieldClassName}}{{inputFieldClassName}}{{/if}}">
    {{{ Input name=name type=type
        value=value
        className=className
        placeholder=placeholder
        onBlur=onBlur
        ref="input"
    }}}
    {{#if showError}}
        {{#if error.isError}}
            {{{ Error isError=error.isError text=error.text }}}
        {{/if}}
    {{/if}}
</label>
