<div class="messenger">
    <div class="messenger__side-bar">
        {{{ MessengerSideBar chatList=chatList }}}
    </div>
    <div class="messenger__chat-window">
        {{{ ChatWindow messageList=messageList chat=selectedChat }}}
    </div>
</div>
