<div class="modal-container{{#if showModal}}-active{{/if}}">
    <div class="overlay"></div>
    <div class="modal">
        <form class="form">
        <div class="form__header">
            <div class="form__header-title">{{title}}</div>
        </div>
        <div class="form__content">
            <div class="form__element">
                {{> (lookup . 'content') }}
            </div>
        </div>
        <div class="form__footer">
            <div class="form__element">
            {{{ Button label=buttonLabel className="confirm-button" onClick=onSubmit }}}
            </div>
        </div>
        </form>
    </div>
</div>
