<div class="form__element">
    {{{ Label label="Логин" name="login"
        className="form__element-label"
    }}}
    {{{ Input name="login" type="text"
        className="form__element-input"
        ref="input"
    }}}
</div>
