$action-exit: #FF0000;
$avatar-hover-grey: #00000070;
$base-blue: #3369F3;
$border-grey: #EAEAEA;
$form-shadow: #00000024;
$label-black: #1E1E1E;
$label-grey: #999999;
$section-grey: #FBFBFB;
$white: #FFFFFF;
