html, body {
    font-family: Inter, sans-serif;
    height: 100%;
}
main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.content-container {
    text-align: center;
}
